.herobg {
    background-image:  url('../public/herobg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbg {
    width: 100%;
    height: 105px;
    padding: 20px 64px;
    transition: background-color 0.5s ease, padding 0.5s ease;
    position: fixed;
  }

  .scrolledd {
    background-color: #3B0764;
    top: 0;
    z-index: 10000;
}

.menuitems.active {
  color: #ffffff;
  font-size: 1.2rem;
}

.mobilelinks.active {
  color: #ffffff;
  font-size: 1rem;
}
  
  .navwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .menuitems {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
    padding: 0rem 1.3rem;
    color: #AAA6C3;
    cursor: pointer;
  }
  
  /* Hide the mobile menu icon and mobile links on larger screens */
  .barsicon, .mobilebg {
    display: none;
  }
  
  /* Media query to adjust styles for screens 768px and smaller */
  @media screen and (max-width: 768px) {
    /* Hide the desktop menu items */
    .desktopMenu {
      display: none;
    }
 
    
    .barsicon {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      color: #AAA6C3;
      cursor: pointer;
    }
  
    .mobilebg {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: #172554;
      right: 0;
      height: 100vh;
      width: 250px;
      top: 0;
      border-radius: 10px;
      z-index: 10;
      padding: 2rem 1.5rem;
    }
  
    .mobilelinks {
      font-size: 1rem;
      font-weight: 400;
      color: #AAA6C3;
      margin-top: 1rem;
      text-decoration: none;
      padding: 0.7rem 0rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
  
  @media screen and (min-width: 768px) {
    .mobileMenu {
      display: none;
    }
}

.linewrap{
display: flex;
align-items: center;
justify-content: center;
}

.roundball{
    background-color: #8742b4;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.line{
    height: 5px;
    width: 300px;
    /* background-color: #BF61FF; */
    background: linear-gradient(to right, #8e4bbb, black);
}




.heroPosition{
  padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.herotext{
    font-size: 5rem;
    font-weight: 900;
    margin: 0rem;
    margin: 1rem 0rem;
}

.intro{
    color: #ffffff;
}
.name{
    color: #BF61FF;
}

.introtext{
    color: #ffffff;
    font-size: 2rem;
    margin: 0rem;
    font-weight: 500;
    width: 500px;
    margin-bottom: 2rem;
}

.pillwrap{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 6rem;
}
.pills{
    background-color: #BF61FF;  
    height: 40px;
    width: 80px;
    margin: 0px 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ballContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.boxball {
  width: 35px;
  height: 64px;
  border-radius: 1.5rem; 
  border: 3.5px solid #AAA6C3; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}

.ball {
  width: 12px;
  height: 12px; 
  border-radius: 50%; 
  background-color: #AAA6C3; 
  margin-bottom: 4px; 
}


.introwrapper{
    background-color: #050816;
    padding: 0rem 6rem;
}

.introwrap{
    padding-top: 4rem;
    padding-bottom: 0.5rem;
}

.introductiontext{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0rem;
    padding: 0rem;
    color: #AAA6C3;
   
}

.overview{
    font-size: 4rem;
    font-weight: 800;
    color: #ffffff;
    margin: 0rem;
    padding: 0rem;
    padding-top: 0.7rem;
}

.summarywrap{
    width: 70%;
}

.summary{
    font-size: 1rem;
    color: #AAA6C3;
    line-height: 25px;
    padding-bottom: 1rem;
}
.experience{
    font-size: 0.95rem;
    color: #ffffff;
    width: 100%;
}

.stackgrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 2rem;
}

.eachstack{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #151030;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 1.4rem;
}

.stacktitle{
    padding-top: 0.4rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
}

.projectgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
 
  
.eachcard {
    position: relative;
    background-color: #151030;
    height: auto;
    width: 380px;
    border-radius: 15px;
    padding: 1.2rem;
    border: 2px solid transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s ease-out; 
    perspective: 1000px;   
  }

  .eachcard:hover {
    transition: all 0.3s linear;
    transform: scale(1.05);
    /* border: 2px solid #BF61FF; */
  }
  
  .eachcard::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 110%;
    /* background-color: rgba(255, 255, 255, 0.8); */
    transform: rotate(45deg);
    z-index: -10;
    opacity: 0; 
  }
  
  .eachcard:hover::before {
    animation: animate 4s linear infinite;
    opacity: 1; 
  }
  
  @keyframes animate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .eachcard::after {
    position: absolute;
    content: '';
    inset: 1px;
    background-color: #151030;
    border-radius: 8px;
    z-index: -10;
  }


.projectImage{
    border-radius: 10px;
}

.projectTitle{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.projectSummary{
    font-size: 0.9rem;
    color: #AAA6C3;
}

.stacks{
    font-size: 0.80rem;
    margin: 0rem;
    padding: 0rem;
}

.blueText{
    color: rgb(47, 128, 237);
}

.greenText{
    color:  rgb(17, 153, 142)  ;
    margin: 0rem 0.3rem;
    /* color: rgb(56, 239, 125); */
}

.redText{
    color:rgb(236, 0, 140) ;
    margin: 0rem 0.3rem;
    /* color:  rgb(252, 103, 103); */
}

.vertical-timeline-element--education ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
  }

  
  .lists {
    color: #F3F3F3;
  }

  .starsign {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    inset: -0;
  }

.company{
    font-size: 1rem;
    color: #AAA6C3;
    padding: 0.50rem 0rem;
}

@keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .herotext, .introtext {
    animation: slideUp 1s ease-out;
  }

  /* MEDIA QUERIES */

  @media  screen and (max-width: 1200px) {
    .stackgrid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-right: 0rem;
      gap: 20px;
    }  
    .eachstack{
      height: 100px;
      width: 100%;
    }
    .projectgrid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  @media  screen and (max-width: 900px) {
    .herotext{
      padding-top: 4rem;
      font-size: 2.3rem;
      font-weight: 700;
    }

    .introtext{
      font-size: 1rem;
      padding: 0rem 1.5rem;
      font-weight: 500;
      width: 100%;
  }

  .pillwrap{
    gap: 5px;
    margin-top: 5rem;
}

.herobg {
  height: auto;
  padding-bottom: 5rem;
}
.introwrapper{
  padding: 0rem 1.5rem;
}

.stackgrid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-right: 0rem;
  gap: 0rem;
}

.eachstack{
  height: 100px;
  width: 100%;
}

.ballContainer {
  padding: 4rem 0rem;
}

.introductiontext{
  font-size: 0.9rem;
}

.pillwrap{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 6rem;
  padding-bottom: 5rem;
}

.pills{
  height: 30px;
  width: 100%;
  padding: 1rem;
}

.overview{
  font-size: 2rem;
  font-weight: 700;
}

.projectgrid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
}

.eachcard {
  width: 100%;
}

.navbg {

  padding: 20px 20px;
}
  }